Checks: "-*,\
  clang-analyzer-*,\
  misc-static-assert,\
  modernize-*,\
  cppcoreguidelines-pro-type-cstyle-cast,\
  cppcoreguidelines-virtual-class-destructor,\
  llvm-include-order,\
  misc-definitions-in-headers,\
  modernize-redundant-void-arg,\
  modernize-use-bool-literals,\
  portability-restrict-system-includes,\
  readability-convert-member-functions-to-static,\
  readability-make-member-function-const,\
  readability-non-const-parameter,\
  readability-qualified-auto,\
  readability-redundant-control-flow,\
  readability-redundant-member-init,\
  readability-const-return-type,\
  bugprone-copy-constructor-init,\
  bugprone-virtual-near-miss,\
  cppcoreguidelines-prefer-member-initializer,\
  misc-unused-parameters,\
  performance-for-range-copy,\
  performance-inefficient-vector-operation,\
  performance-type-promotion-in-math-fn,\
  performance-unnecessary-copy-initialization,\
  performance-unnecessary-value-param,\
  readability-else-after-return,\
  readability-implicit-bool-conversion,\
  readability-simplify-boolean-expr,\
  readability-static-accessed-through-instance,\
  bugprone-macro-parentheses,\
  bugprone-redundant-branch-condition,\
  cppcoreguidelines-pro-type-member-init,\
  misc-redundant-expression,\
  bugprone-assert-side-effect,\
  "
WarningsAsErrors: ""
HeaderFilterRegex: 'include.*\.(hpp|h)'
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: snake_case
  - key: readability-identifier-naming.StructCase
    value: snake_case
